Q No.01-    Create one variable containing following type of data:
            
            String
            List
            Float
            Tuple

Ans:-

In [1]:
i = "Ankit"

In [2]:
type(i)

str

In [3]:
ii = [21,54,'Niraj',87.54,4+6j,True]

In [4]:
type(ii)

list

In [5]:
iii = 78.90

In [6]:
type(iii)

float

In [7]:
iv = (12,45,'Ankit',45.78,6+4j,False)

In [8]:
type(iv)

tuple

        x        x        x        x        x        x        x        x        x        x

Q No.02-    Given are some following variables containing data:

            var1 = ‘ ‘
            var2 = ‘[ DS , ML , Python]’
            var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
            var4 = 1.0

         What will be the data type of the above given variable?

Ans:-

In [1]:
var1 = 'PW Skills'

In [2]:
type(var1)

str

In [3]:
var2 = '[ DS , ML , Python]'

In [4]:
type(var2)

str

In [5]:
var3 = ['DS','ML','Python']

In [6]:
type(var3)

list

In [7]:
var4 = 1.

In [8]:
type(var4)

float

        x        x        x        x        x        x        x        x        x        x

Q No.03-    Explain the use of the following operators using an example:
        
            /
            % 
            //
            **

Ans:-

        ( / Division )

In [18]:
x = 16
y = 2

print(x/y)

8.0

        ( % Modulus )

In [19]:
x = 7
y = 3

print(x%y)

1

        ( // Floor Division )

In [20]:
x = 27
y = 2 

#the floor division // rounds the result down to the nearest whole number

print(x//y)

13

        ( ** Exponentiation )

In [21]:
x = 4
y = 3

#same as 4*4*4

print(x**y)

64

        x        x        x        x        x        x        x        x        x        x

Q No.04-    Create a list of length 10 of your choice containing multiple types of data. 
Using for loop print the element and its data type.

Ans:-

In [22]:
a = [21,'Next',74.5,9+3j,True,37,'Top',0.29,5j,False]
for x in a:
    print(type(x))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'bool'>

        x        x        x        x        x        x        x        x        x        x

Q No.05-    Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

Ans:-

In [4]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

count = 0

while A % B == 0:
    A = A // B  
    count += 1  
    
if count > 0:
    print(f"{A} is divisible by {B} and it can be divided {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

Enter number A:  100
Enter number B:  50

2 is divisible by 50 and it can be divided 1 times.

        x        x        x        x        x        x        x        x        x        x

Q No.06-    Create a list containing 25 int type data.
Using for loop and if-else condition print if the element is divisible by 3 or not.

Ans:-

In [6]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for x in a:
    if x % 3 == 0:
        print(f"{x} is divisible by 3.")
    else:
        print(f"{x} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

        x        x        x        x        x        x        x        x        x        x

Q No.07-    What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans:-

MUTABLE DATA TYPE:

Mutable datatypes are objects that can be modified or altered after they have been created 
(for example, by adding new elements, removing elements, or replacing elements).
Mutable datatypes are:-

        lists
        Dictionaries
        Sets

In [7]:
a = [21,34.34,'Ankit',3j,True] #a is list

In [9]:
a[3] = 'Niraj'

In [10]:
a

[21, 34.34, 'Ankit', 'Niraj', True]

IMMUTABLE DATA TYPE:

Immutable datatypes are objects that cannot be modified or altered after they have been created 
(for example, by adding new elements, removing elements, or replacing elements).
Immutable datatypes are:-
        
        Int
        Float
        Tuple.
        Complex
        String
        Stringfrozen set [note: immutable version of the set]
        Bytes

In [11]:
a = 'POP'

In [12]:
a[0] = 'T'

TypeError: 'str' object does not support item assignment

                                                END